@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: yaatra-one;
}

.yatra-one-regular {
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}
